# Bash prompt - "[time dir]$ "
export PS1="[\t \w]\$ "

# Specific directories
export DEV_HOME="~/dev"

# Define where cd looks for dirs. e.g. CDPATH=".:~" looks in . and ~
export CDPATH=".:~"

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Make vim the default editor.
export EDITOR='vim';

# Bash history
export HISTSIZE=32768;                                  # Increase history size
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='erasedups:ignoreboth';              # Avoid duplicate entries
export HISTIGNORE="&:[ ]*:exit:ls:bg:fg:history:clear"  # Don't record some commands
export HISTTIMEFORMAT='%F %T '                          # Useful timestamp format
export PROMPT_COMMAND='history -a'                      # Record each line as it gets issued
